{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
<link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
<link rel="stylesheet" type="text/css"
    href="https://myfirst-ecommerce.s3.eu-west-2.amazonaws.com/static/css/nicepage.css">
<link rel="stylesheet" href="{% static 'home/css/page-3.css' %}">
{% endblock %}

{% block extra_js %}
<script class="u-script" type="text/javascript" src="{% static 'home/js/jquery.js' %}"></script>
<script class="u-script" type="text/javascript" src="{% static 'home/js/nicepage.js' %}"></script>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay-website"></div>
<section class="u-clearfix u-custom-color-2 u-section-1" id="carousel_770e">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div id="carousel-8627" data-interval="4000" data-u-ride="carousel"
            class="u-carousel u-carousel-fade u-expanded-height-md u-expanded-width-lg u-expanded-width-sm u-expanded-width-xs u-slider u-slider-1">
            <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                <li data-u-target="#carousel-8627" class="u-active u-grey-30" data-u-slide-to="0"></li>
                <li data-u-target="#carousel-8627" class="u-grey-30" data-u-slide-to="1"></li>
                <li data-u-target="#carousel-8627" class="u-grey-30" data-u-slide-to="2"></li>
                <li data-u-target="#carousel-8627" class="u-grey-30" data-u-slide-to="3"></li>
                <li data-u-target="#carousel-8627" class="u-grey-30" data-u-slide-to="4"></li>
            </ol>
            <div class="u-carousel-inner" role="listbox">
                <div
                    class="test-slide u-active u-carousel-item u-container-style u-expanded-width u-image u-slide u-image-1">
                    <div class="u-container-layout u-container-layout-1"></div>
                </div>
                <div class="test-slide u-carousel-item u-container-style u-expanded-width u-image u-slide u-image-2"
                    data-image-width="1920" data-image-height="1280">
                    <div class="u-container-layout u-container-layout-2"></div>
                </div>
                <div class="test-slide u-carousel-item u-container-style u-expanded-width u-image u-slide u-image-3"
                    data-image-width="1600" data-image-height="1067">
                    <div class="u-container-layout u-container-layout-3"></div>
                </div>
                <div class="test-slide u-carousel-item u-container-style u-expanded-width u-image u-slide u-image-4">
                    <div class="u-container-layout u-container-layout-4"></div>
                </div>
                <div class="test-slide u-carousel-item u-container-style u-expanded-width u-image u-slide u-image-5">
                    <div class="u-container-layout u-container-layout-5"></div>
                </div>
            </div>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-hidden u-icon-rectangle u-text-body-color u-carousel-control-1"
                href="#carousel-8627" role="button" data-u-slide="prev">
                <span aria-hidden="true">
                    <svg viewBox="0 0 256 256">
                        <g>
                            <polygon
                                points="207.093,30.187 176.907,0 48.907,128 176.907,256 207.093,225.813 109.28,128">
                            </polygon>
                        </g>
                    </svg>
                </span>
                <span class="sr-only">
                    <svg viewBox="0 0 256 256">
                        <g>
                            <polygon
                                points="207.093,30.187 176.907,0 48.907,128 176.907,256 207.093,225.813 109.28,128">
                            </polygon>
                        </g>
                    </svg>
                </span>
            </a>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-hidden u-icon-rectangle u-text-body-color u-carousel-control-2"
                href="#carousel-8627" role="button" data-u-slide="next">
                <span aria-hidden="true">
                    <svg viewBox="0 0 306 306">
                        <g id="chevron-right">
                            <polygon points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"></polygon>
                        </g>
                    </svg>
                </span>
                <span class="sr-only">
                    <svg viewBox="0 0 306 306">
                        <g id="chevron-right">
                            <polygon points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"></polygon>
                        </g>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-2" id="carousel_6299">
    <div
        class="u-align-center-xl u-container-style u-custom-color-6 u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
        <div class="u-container-layout u-valign-bottom-md u-valign-bottom-xl u-container-layout-1">
        </div>
    </div>
    <div
        class="u-clearfix u-custom-color-2 u-expanded-width-sm u-expanded-width-xs u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div
                    class="u-align-center u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-22-lg u-size-22-md u-size-22-sm u-size-22-xs u-size-25-xl u-layout-cell-1">
                    <div class="u-container-layout u-valign-bottom-sm u-valign-bottom-xs u-container-layout-2">
                        <h1 class="u-text u-text-1">CONTACT</h1>
                        <p class="u-text u-text-2">Intampinati o problema sau doar aveti o intrebare? Contactati-ne.
                            Pentru un raspuns cat mai rapid va recomandam sa folositi chatul de support ,</p>
                        <div class="u-form u-form-1">
                            <form action="#" method="POST"
                                class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 0;"
                                source="custom" name="form">
                                <div class="u-form-email u-form-group u-form-partition-factor-2 u-form-group-1">
                                    <label for="email-b381" class="u-form-control-hidden u-label">Email</label>
                                    <input type="email" placeholder="Adresa email" id="email-b381" name="email"
                                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                                </div>
                                <div class="u-form-group u-form-name u-form-partition-factor-2 u-form-group-2">
                                    <label for="name-b381" class="u-form-control-hidden u-label">Name</label>
                                    <input type="text" placeholder="Nume si Prenume" id="name-b381" name="name"
                                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                                </div>
                                <div class="u-form-group u-form-message u-form-group-3">
                                    <label for="message-b381" class="u-form-control-hidden u-label">Message</label>
                                    <textarea placeholder="Mesajul dumneavoastra" rows="4" cols="50" id="message-b381"
                                        name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle"
                                        required=""></textarea>
                                </div>
                                <div class="u-align-center u-form-group u-form-submit u-form-group-4">
                                    <a href=""
                                        class="u-black u-btn u-btn-submit u-button-style u-hover-custom-color-3 u-btn-1">Submit</a>
                                    <input type="submit" value="submit" class="u-form-control-hidden">
                                </div>
                                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been
                                    sent. </div>
                                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please
                                    fix errors then try again. </div>
                                <input type="hidden" value="" name="recaptchaResponse">
                            </form>
                        </div>
                    </div>
                </div>
                <div
                    class="u-align-left u-container-style u-effect-hover-zoom u-layout-cell u-right-cell u-size-35-xl u-size-38-lg u-size-38-md u-size-38-sm u-size-38-xs u-layout-cell-2">
                    <div class="u-background-effect u-expanded">
                        <div class="u-background-effect-image u-expanded u-image u-image-1"></div>
                    </div>
                    <div class="u-container-layout u-container-layout-3"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{% endblock %}