{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay-website"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Contul meu</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-muted"><strong>{% if fname %}{{ fname }}{% endif %}
                {% if lname %}{{ lname }}{% endif %}</strong> | {{ email }}</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-black rounded-0 text-uppercase float-right">Salveaza informatii cont</button>
            </form>
        </div>
        <div class="col-12 col-lg-6 text-center admin-fin">
            <p class="text-muted">Informatii financiare</p>
            {% if customer_id != None %}
            <a type="button" href="{% url 'billing' %}"
                class="btn btn-black rounded-0 text-uppercase d-block">Administrare abonament</a>
            <a type="button" href="{% url 'payment-method' %}"
                class="btn btn-black rounded-0 text-uppercase d-block">Schimba metoda de plata</a>
            <a type="button" href="{% url 'billing-address' %}"
                class="btn btn-black rounded-0 text-uppercase d-block">Informatii de facturare</a>

            {% if subscription != 0 %}
            <a type="button" href="{{ hosted_invoice_url }}" target="_blank" rel="noopener"
                class="btn btn-black rounded-0 text-uppercase d-block">Descarca factura/chitanta</a>
            <a type="button" class="btn btn-black rounded-0 text-uppercase d-block">Comanda abonament nou</a>
            {% else %}
            <a type="button" class="btn btn-black rounded-0 text-uppercase d-block">Descarca factura/chitanta</a>
            <a type="button" href="{% url 'subscription' %}"
                class="btn btn-black rounded-0 text-uppercase d-block">Comanda abonament nou</a>
            {% endif %}
            <a type="button" class="btn btn-black rounded-0 text-uppercase d-block">Comanda Test 24h</a>
            {% else %}
            <a type="button" class="btn btn-black rounded-0 text-uppercase d-block">Administrare abonament</a>
            <a type="button" class="btn btn-black rounded-0 text-uppercase d-block">Schimba metoda de plata</a>
            <a type="button" class="btn btn-black rounded-0 text-uppercase d-block">Informatii de facturare</a>
            <a type="button" class="btn btn-black rounded-0 text-uppercase d-block">Descarca factura/chitanta</a>
            <a type="button" class="btn btn-black rounded-0 text-uppercase d-block">Comanda abonament nou</a>
            <a type="button" href="{% url 'checkout' %}" class="btn btn-black rounded-0 text-uppercase d-block">Comanda
                Test 24h</a>
            {% endif %}
            {% if customer_id == None %}
            <p class="small text-danger mt-5">
                <span class="icon">
                    <i class="fas fa-exclamation-circle"></i>
                </span>
                <span>Aceasta sectiune este inactiva fie pentru ca nu ati comandat inca un "Test 24h", fie in formularul
                    de plata ati folosit o adresa de email diferita de cea cu care sunteti logat
                    <strong>{{ email }}</strong>. Daca va aflati in cea de a doua situatie, va rugam sa ne contactati
                    pentru remediere.</span>
            </p>
            {% endif %}
            {% if subscription != 0 %}
            <p class="small text-primary mt-5">
                <span class="icon">
                    <i class="fas fa-exclamation-circle"></i>
                </span>
                <span>In contul aferent adresei de email <strong>{{ email }}</strong> aveti un abunament activ. Il
                    puteti vizualiza sau modifica accesand butonul "Administrare Abonament".</span>
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}