{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay-website"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Comanda test 24h <sup><i id="info" class="fas fa-exclamation-circle"
                        data-toggle="tooltip" data-placement="bottom" data-html="true"
                        title="Pentru a putea achizitiona un abonament pentru oricare din parioade, este necesar ca in prealabil sa testati serviciul pentru 24 ore."></i></sup>
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <p class="text-muted empty">.</p>
            <form id="payment-form">
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Informatii comanda:</legend>
                    <hr class="mt-0">
                    <div class="row">
                        <div class="col">
                            <p class="small">Pentru a putea achizitiona un abonament pentru oricare din
                                parioade, este necesar ca in prealabil sa testati serviciul pentru 24 ore. Dupa
                                confirmarea platii veti primi pe adresa de email indicata informatiile necesare pentru
                                activare.
                            </p>
                            <p class="small"><strong>ATENTIE:</strong> Pentru o buna functionare este indicata o
                                viteza de download de min. 10-12 Mbps pentru formatele <strong>SD, HD, FullHD</strong>
                                si min 25 Mbps pentru formatul <strong>UHD 4K</strong>. Pentru a verifica conexiunea
                                dvs, lansati <a type="button" data-toggle="modal" data-target="#modal2"><strong>
                                        AICI</strong></a> un test de viteza.
                            </p>
                            <div class="modal fade" id="modal2" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body m-0 p-0">
                                            <iframe src="http://www.speedtest.ro/" frameborder="0"></iframe>
                                            <button type="button" class="close overlay" data-dismiss="modal"
                                                aria-label="Close" title="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-1 mb-3">
                    <div class="row">
                        <div class="col-9">
                            <p class="text-muted">Test 24h (maxim o conexiune)</p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="text-muted">€1.00</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <h5 class="text-muted"><strong>Total:</strong></h5>
                        </div>
                        <div class="col-3 text-right">
                            <h5 class="text-muted"><strong>€1.00</strong></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="stripe-img">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}stripe.png"
                                    alt="Stripe Secure Payments">
                            </div>
                        </div>
                    </div>

                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Cum afli adresa MAC:</legend>
                    <hr class="mt-0">
                    <div class="accordion md-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne1">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne1"
                                    aria-expanded="true" aria-controls="collapseOne1">
                                    <p class="mb-0"><i class="fas fa-angle-down rotate-icon mr-3"></i>Cum afli adresa
                                        MAC a aplicatie Smart-IPTV</p>
                                </a>
                            </div>
                            <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <img src="{{ MEDIA_URL }}smart-iptv.jpg" alt="smart-iptv">
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo2">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                    <p class="mb-0"><i class="fas fa-angle-down rotate-icon mr-3"></i>Cum afli adresa
                                        MAC a aplicatie NET-IPTV</p>
                                </a>
                            </div>
                            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <img src="{{ MEDIA_URL }}net-iptv.jpg" alt="net-iptv">
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree3">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                    <p class="mb-0"><i class="fas fa-angle-down rotate-icon mr-3"></i>Cum afli adresa
                                        MAC a dispozitivului MAG</p>
                                </a>
                            </div>
                            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <img src="{{ MEDIA_URL }}mag-iptv.jpg" alt="mag-iptv">
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour4">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseFour4" aria-expanded="false" aria-controls="collapseThree3">
                                    <p class="mb-0"><i class="fas fa-angle-down rotate-icon mr-3"></i>Cum afli adresa
                                        MAC a aplicatiei SET-IPTV</p>
                                </a>
                            </div>
                            <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <img src="{{ MEDIA_URL }}set-iptv.jpg" alt="set-iptv">
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFive5">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseFive5" aria-expanded="false" aria-controls="collapseFive5">
                                    <p class="mb-0"><i class="fas fa-angle-down rotate-icon mr-3"></i>Cum afli adresa
                                        MAC a dispozitivului STB</p>
                                </a>
                            </div>
                            <div id="collapseFive5" class="collapse" role="tabpanel" aria-labelledby="headingFive5"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <img src="{{ MEDIA_URL }}stb-iptv.jpg" alt="stb-iptv">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">Finalizeaza comanda completand informatiile necesare mai jos:</p>
            <form action="{% url 'payment' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Date personale:</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Info tehnice</legend>
                    {{ order_form.app | as_crispy_field }}
                    {{ order_form.mac | as_crispy_field }}
                    {{ order_form.mac_pass | as_crispy_field }}
                    {{ order_form.notes | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Salveaza informatiile in contul meu</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Creaza un cont</a> sau
                            <a class="text-info" href="{% url 'account_login' %}">autentifica-te</a> pentru a salva
                            informatiile
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <div class="submit-button text-right mt-5 mb-2">
                    <a href="" class="btn btn-outline-black rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Abonamente</span>
                    </a>
                    <button id="submit-button" class="btn btn-black rounded-0" type="submit">
                        <span class="font-weight-bold">Continua cu Stripe</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span><strong class="logo-font">Atentie: </strong><strong>In formularul de plata din pagina
                                urmatoare folositi obligatoriu aceeasi adresa de email</strong></span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}