{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay-website"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Multumim</h2>
            <hr>
            <p class="text-black">Multumim pentru alegerea facuta. O confirmare a tranzactiei a fost trimisa catre adresa dvs. de email.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7 text-left">
            <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-gifts"></i>
                </span>
                <span class="text-uppercase">Contul meu</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}