{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay-website"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Activeaza un abonament</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-3">
            <p class="text-muted">Informatii comanda:</p>
            <fieldset class="rounded px-3 mb-3">
                <legend class="fieldset-label small text-black px-2 w-auto">Abonamentul (planul) achitionat poate fi
                    anulat sau modificat oricand din <a href="{% url 'profile' %}"> Contul meu</a> accesand sectiunea
                    "Administrare / Istoric".
                </legend>
                <legend class="fieldset-label small text-black px-2 w-auto"><strong><span
                            style="color:red;">ASTRA</span>.IPTV</strong> nu are acces in niciun moment la datele
                    cardului dvs. Acestea sunt stocate si procesate automat in mod securizat si criptat de catre Stripe
                    Payments Europe Limited Irlanda.
                </legend>
                <legend class="fieldset-label small text-black px-2 w-auto mb-4"><strong><span style="color:red;"><i
                                class="fas fa-exclamation-circle"> </i></span></strong> Puteti activa un singur
                    abonament (plan) selectand una din variantele din partea stanga. Prin apasarea butonului PAY sunteti
                    de acord cu<a href=""> Termenii</a> si <a href="">Conditiile</a> serviciului iar cardul dvs va fi
                    debitat cu contravaloarea mentionata in rubrica Total.
                </legend>
                <hr class="mt-0">
                <div class="row">
                    <div class="col-8">
                        <p id="subscription_choice" class="text-muted">Selecteaza un abonament:</p>
                    </div>
                    <div class="col-4 text-right">
                        <p id="price_1" class="text-muted">€0.00 / luna</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <h5 class="text-muted"><strong>Total:</strong></h5>
                    </div>
                    <div class="col-4 text-right">
                        <h5 id="price_2" class="text-muted font-weight-bold">€0.00 / luna</h5>
                    </div>
                </div>
                <hr class="mt-4">
                <div class="stripe-img">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}stripe.png" alt="Stripe Secure Payments">
                </div>
            </fieldset>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">Selecteaza un abonament (plan):</p>
            <fieldset class="rounded px-3 mb-5">
                {% for product in products %}
                {% if product.name != 'Test 24h' %}
                <div id="card_{{ forloop.counter }}" class="card-subscription border-1 shadow card-hover mb-4">
                    <div class="row m-0 p-0 align-items-center">
                        <div class="col-sm-12 col-md-1">
                            <input type="checkbox" id="checkbox_{{ forloop.counter }}">
                        </div>
                        <div class="col-sm-12 col-md-3 py-4 px-4">
                            <div class="text-center">
                                {% if product.image %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}"
                                        alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ product.name }}">
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5 p-0">
                            <div class="">
                                <p class="lead price-low text-center mb-0">€ {{ product.price }}
                                <p class="small text-center text-lowercase mb-0">Activeaza {{ product.name }} pentru
                                    {{ product.category.friendly_name }}</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 mb-4 mt-3">
                            <form action="{% url 'subscription' %}" method="POST" id="payment-form" class="text-center">
                                {% csrf_token %}
                                <input type="hidden" id="{{ product.description_10 }}" name="product_id"
                                    value="{{ product.description_10 }}" required>
                                <button id="submit-subscription_{{ forloop.counter }}" class="btn btn-black rounded-0"
                                    type="submit" disabled>
                                    <span>PAY</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </fieldset>
        </div>
    </div>
</div>
<div id="d-loading-overlay" class="d-none">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'checkout/js/subscription.js' %}"></script>
{% endblock %}