<li class="list-inline-item mr-0 d-lg-none">
    <a href="{% url 'home' %}" class="nav-link main-logo-link">
        <div class="h-logo">
            <img src="{{ MEDIA_URL }}h-logo.png" alt="Astra IPTV">
        </div>
    </a>
</li>
<li class="list-inline-item dropleft">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0 d-none d-sm-flex">Contul meu</p>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a href="{% url 'account_logout' %}" class="dropdown-item">Admin</a>
        {% endif %}
        <a href="{% url 'profile' %}" class="dropdown-item">Detalii cont</a>
        <a href="{% url 'account_logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Iesire</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item">Inregistrare</a>
        <a href="{% url 'account_login' %}" class="dropdown-item"><i class="fas fa-sign-in-alt"></i> Login</a>
        {% endif %}
    </div>
</li>