{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay-website"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Abonamente</h2>
            <hr class="w-50 mb-3">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                {% if product.category.name != 'test' %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0 shadow card-hover">
                        <div class="px-4 pt-4">
                            {% if product.image %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}"
                                    alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}
                        </div>
                        <div class="card-body px-4 pt-4 pb-5">
                            <div class="row">
                                <div class="col">
                                    <p class="mb-0 font-weight-bold text-center">{{ product.category.friendly_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    {% if product.rating %}
                                    <small class="text-muted"><i
                                            class="fas fa-star text-warning mr-1"></i>{{ product.rating }}/5</small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pr-3">
                                    <p class="lead price py-4 mb-0 text-center font-weight-bold">€ {{ product.price }}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pr-3">
                                    {% if product.description_1 %}
                                    <p class="text-center mb-2"><i class="fas fa-check text-lightblue"></i>
                                        {{ product.description_1 }}</p>
                                    {% endif %}
                                    {% if product.description_2 %}
                                    <p class="text-center mb-2"><i class="fas fa-check text-lightblue"></i>
                                        {{ product.description_2 }}</p>
                                    {% endif %}
                                    {% if product.description_3 %}
                                    <p class="text-center mb-2"><i class="fas fa-check text-lightblue"></i>
                                        {{ product.description_3 }}</p>
                                    {% endif %}
                                    {% if product.description_4 %}
                                    <p class="text-center mb-2"><i class="fas fa-check text-lightblue"></i>
                                        {{ product.description_4 }}</p>
                                    {% endif %}
                                    {% if product.description_5 %}
                                    <p class="text-center mb-2"><i class="fas fa-check text-lightblue"></i>
                                        {{ product.description_5 }}</p>
                                    {% endif %}
                                    {% if product.description_6 %}
                                    <p class="text-center mb-2"><i class="fas fa-check text-lightblue"></i>
                                        {{ product.description_6 }}</p>
                                    {% endif %}
                                    {% if product.description_7 %}
                                    <p class="text-center mb-2"><i class="fas fa-check text-lightblue"></i>
                                        {{ product.description_7 }}</p>
                                    {% endif %}
                                    {% if product.description_8 %}
                                    <p class="text-center mb-2"><i class="fas fa-check text-lightblue"></i>
                                        {{ product.description_8 }}</p>
                                    {% endif %}
                                    {% if product.description_9 %}
                                    <p class="text-center mb-2"><i class="fas fa-check text-lightblue"></i>
                                        {{ product.description_9 }}</p>
                                    {% endif %}
                                    {% if product.description_10 %}
                                    <p class="text-center mb-2"><i class="fas fa-check text-lightblue"></i>
                                        {{ product.description_10 }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pr-3">
                                    <div class="pt-4 text-center">
                                        <a href="{% url 'checkout' %}" type="button" class="btn btn-black rounded-0 text-uppercase">Comanda</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none my-3">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none my-3">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none my-3">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block my-3">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}